<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %c{1.} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="io.micrometer" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="org.springframework.boot.autoconfigure" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
